In [10]:
import pandas as pd
import numpy as np
import tabulate

In [7]:
business_dates = pd.bdate_range('2021-01-01', '2021-12-31')

# generate tickers
tickers = ['AAPL', 'FB', 'GE', 'AMZN', 'DAI']

# create indexes
index = pd.MultiIndex.from_product([business_dates, tickers], names=['Date', 'Ticker'])

# create DFs
market_data = pd.DataFrame(index=index,
                        data=np.random.randn(len(index), 1),
                        columns=['Price'])
market_data

                      Price
Date       Ticker
2021-01-01 AAPL    0.664231
           FB     -0.690033
           GE     -1.469509
           AMZN   -1.496989
           DAI    -0.660018
...                     ...
2021-12-31 AAPL   -0.003525
           FB     -0.055071
           GE      0.948694
           AMZN    0.115119
           DAI     0.624537

[1305 rows x 1 columns]

1. **Without using a for loop**, compute the daily returns (return(d) = (price(d)-price(d-1))/price(d-1)) for all the companies and return a DataFrame as:

```console
Ticker          AAPL      AMZN       DAI        FB        GE
Date
2021-01-01       NaN       NaN       NaN       NaN       NaN
2021-01-04 -2.668008 -4.716002 -1.885721  0.496173  1.862998
2021-01-05 -2.194111 -2.747143 -0.165338  0.318410  0.085519
2021-01-06 -1.164307 -1.194895 -2.595224 -0.219974 -0.805512
2021-01-07  3.428472  3.778445 -0.956788 -1.538637  0.108276
```

Note: The data is generated randomly, the values you have may lead to a different result. The example above shows the expected DataFrame structure.

`Hint use pivot_table`

In [9]:
daily_returns = market_data.pivot_table(values="Price", index="Date", columns="Ticker").pct_change()
daily_returns

Ticker           AAPL       AMZN        DAI        FB        GE
Date
2021-01-01        NaN        NaN        NaN       NaN       NaN
2021-01-04  -1.012399  -0.360197  -1.289356 -2.734906 -0.912919
2021-01-05 -98.783176  -0.785496 -10.061461 -3.134323  2.519048
2021-01-06  -1.255458  -5.583652  -0.329909 -0.729930 -3.285663
2021-01-07  -0.039650  -1.317225  -0.494340  0.320858 -1.168569
...               ...        ...        ...       ...       ...
2021-12-27  -2.056581  -1.329286   0.025257  2.022999  0.292367
2021-12-28  -2.806661   0.858461  -0.795472  0.481287 -2.383391
2021-12-29  -1.408871  -0.933094  -2.218853 -0.303292 -2.456296
2021-12-30  -0.188537 -16.262755  -4.598814 -2.446039 -1.429062
2021-12-31  -1.011605  -1.141840  -0.405546 -0.943075  0.489562

[261 rows x 5 columns]